APP_NAME=FactoryPulse AI API
ENVIRONMENT=development
DATABASE_URL=postgresql+asyncpg://factorypulse:factorypulse@localhost:5432/factorypulse
JWT_SECRET_KEY=l;ksdahf_ASDJADL@DASF629384
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
